.search-box-results {
  width: 100%;
  background-color: #eeecf3;
  padding-bottom: 100px;

  position: relative;
}


.intro-div {
  font-size: 20px;

  margin: 20px 0 0 30px;
}
.discover-new-sports {
  font-size: 30px;
  margin-top: 50px !important;
  margin-bottom: 40px !important;
}
.discover-new-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #eae8ed;

  width: 250px;
  height: fit-content;

  border: 1px solid lightgray;
  border-radius: 5px;

  padding: 15px;
  margin-bottom: 5px;

  -webkit-box-shadow: 2px 2px 10px -3px #000000; 
  box-shadow: 2px 2px 10px -3px #000000;
}
.discover-title {
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  margin: 12px 0;
}
.discover-new-box img {
  width: 200px;
}
.discover-desc {
  word-wrap: break-word;
  width: 100%;
  text-align: justify;
}
.discover-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 90%;
}
.learn-more-btn-discover {
  margin-top: 20px;
}